<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="files/logo.png" type="image/icon type">
    <title>Followers List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  </head>
  <body id="followersBody">
    <nav class="navbar">
      <div class="navbar_container">
        <a id="navbar_logo"><img src="files/logo.png" id="imageLogo"></a>  
        <ul class="navbar_menu">
          <li class="navbar_item">
            <a href="search.html" class="navbar_links">Search</a>
          </li>
          <li class="navbar_item">
            <a href="signIn.html" class="navbar_links" id="signInNav">Sign in</a>
          </li>
          <li class="navbar_item">
            <a href="signUp.html" class="navbar_links" id="signUpNav">Sign up</a>
          </li>
          <li class="navbar_item">
            <a href="whoami.html" class="navbar_links" id="myProfile">My profile</a>
          </li>
          <li class="navbar_item">
            <a href="newmessage.html" class="navbar_links" id="newMsg">New message</a>
          </li>
          <li class="navbar_item">
            <button id="logout-btn">Sign out</button>
          </li>
        </ul>
      </div>
    </nav>

    <button id="backListUsers">Back</button>

    <div id="app">
      <div id="followers-container" class="followers-container">
        <h2 id="followerTitle">Followers</h2>
        <template v-for="follower in followers">
          <div class="followerName" data-username="{{follower.follower}}">
            <a href="profile.html" class="username-link-followers" data-username="{{ follower.follower }}">{{ follower.follower }}</a>
          </div>
        </template>
        <div v-if="isEmpty">
          <p id="noResultFollowers">No followers found.</p>
        </div>
      </div>
    </div>

    <script>
      window.onload = function() {
        const followers = JSON.parse(localStorage.getItem("followers"));
        const followersList = new Vue({
          el: "#followers-container",
          data: {
            followers: followers
          },
          computed: {
            isEmpty() {
              return followers.length === 0;
            }
          }
        });

        const myProfile = document.getElementById("myProfile");
        const newMsg = document.getElementById("newMsg");
        const signInNav = document.getElementById("signInNav");
        const signUpNav = document.getElementById("signUpNav");
        const logoutBtn = document.getElementById("logout-btn");
        const logo = document.getElementById("navbar_logo");
        fetch('http://localhost:3000/api/auth/check-auth')
        .then(res => res.json())
        .then(data => {
          if (data.message === 'Not authenticated') {
            console.log('User is not logged in');
            myProfile.style.display = "none";
            newMsg.style.display = "none";
            signInNav.style.display ="inline-block";
            signUpNav.style.display ="inline-block";
            logoutBtn.style.display = "none";
            if(logo){
              logo.addEventListener("click", function(){
                window.location.href = "messages.html";
              })
            }  
          } else {
            console.log(`User is logged in as ${data.username}`);
            myProfile.style.display = "inline-block";
            newMsg.style.display = "inline-block";
            signInNav.style.display ="none";
            signUpNav.style.display ="none";
            logoutBtn.style.display = "inline-block";
            if(logo){
              logo.addEventListener("click", function(){
                window.location.href = "feed.html";
              })
            }
            localStorage.setItem("currentUser", data.username);
          }
        })
        .catch(error => {
          console.error('Error checking authentication status:', error);
        });

        const usernameLinks = document.querySelectorAll('.username-link-followers');
        usernameLinks.forEach(link => {
        link.addEventListener('click', event => {
          const username = link.innerHTML;
          const currentUser = localStorage.getItem("currentUser");
          localStorage.setItem("username", username);
          fetch(`http://localhost:3000/api/social/users/${username}`)
          .then(res => {return res.json();})
          .then(user => {
            console.log(user);
            localStorage.setItem('user', JSON.stringify(user)); 
            if(username === currentUser){
              window.location.href ="whoami.html";
            } 
            else {
              window.location.href = 'profile.html';
            }           
          })
          .catch(error => {
              console.error(error);
          });
        });
        });

        const backArrow = document.getElementById("backListUsers");
        if(backArrow){
          backArrow.addEventListener("click", function(){
            window.history.back();
          });
        }
      }
    </script>
  </body>
</html>
